doctype html 

html 
  head
    include ../includes/globalScripts.pug

    style.
      .dropdown-menu {
        display: none; /* Hidden by default */
        position: absolute; /* Positioning outside the flow of the document */
        width: 500px; /* Arbitrary width, can be adjusted */
        left: 50%; /* Center the dropdown */
        /* transform: translateX(-50%); /* Center the dropdown */
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Optional: for better styling */
      }
      .dropdown-menu.show {
        display: block; /* Show when the class 'show' is added */
      }
      .dropdown-menu .column {
        width: calc(50% - 0.5rem); /* Divide the width, considering a margin */
        float: left; /* Float to allow side-by-side alignment */
        margin-right: 0.5rem; /* Spacing between columns */
      }
      .checkbox-list {
        list-style-type: none;
        padding: 0;
      }
      /* Clearfix to handle the issue with floating elements */
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

  body 
    block navbar 
      include ../includes/navbar.pug
    // ------- Removed For Hackathon -------
      // Define a mixin for the pagination controls
      mixin pagination(currentPage, totalItems, limit, baseUrl)
        - var totalPages = Math.ceil(totalItems / limit);

        // Bootstrap-styled pagination
        .d-flex.justify-content-between.align-items-center.my-3
          // Dropdown for rows per page
          .dropdown
            button.btn.btn-outline-primary.dropdown-toggle(type='button', id='dropdownMenuButton', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false' value=limit)
              | #{limit} per page
            ul.dropdown-menu(aria-labelledby='dropdownMenuButton')
              // These are the options for number of items per page. You can adjust them.
              li
                a.dropdown-item(href=baseUrl + "?limit=10&page=1") 10
              li 
                a.dropdown-item(href=baseUrl + "?limit=20&page=1") 20
              li 
                a.dropdown-item(href=baseUrl + "?limit=30&page=1") 30

          // Pagination controls
          nav(aria-label='Page navigation example')
            ul.pagination.mb-0
              // "Previous" page link
              li.page-item(class=(currentPage == 1 ? "disabled" : ""))
                a.page-link(href=(currentPage == 1 ? "#" : baseUrl + "?limit=" + limit + "&page=" + (currentPage - 1)), aria-label='Previous' onclick="reload()")
                  span.sr-only Previous

              // Individual page numbers
              - for (var i = 1; i <= totalPages; i++)
                li.page-item(class=(i == currentPage ? "active" : ""))
                  a.page-link(onclick="reload()" ,href=baseUrl + "?limit=" + limit + "&page=" + i)= i

              // "Next" page link
              li.page-item(class=(currentPage == totalPages ? "disabled" : ""))
                a.page-link(href=(currentPage == totalPages ? "#" : baseUrl + "?limit=" + limit + "&page=" + (++currentPage)), aria-label='Next', onclick="reload()")
                  span.sr-only Next

    .container.mt-5
      block pageName
        h2 Hardware Inventory

      block contentAboveTable
      
      block table
        // Search and Filter bar ------ Removed For Hackathon -------
        //.row.input-group.mb-3.mt-3

          // Search Bar
          .col-sm-2
            form(action='/attendee-inventory' method='GET' onsubmit="reload()")
              input.form-control#search(type="text", placeholder="...Search", aria-label="Search" name="search" value=`${search}`)

          // Filter by multiple Categories and Statuses
          .col-sm-2
            // Button to toggle the dropdown
            // Dropdown toggle button
            button.btn.btn-primary.dropdown-toggle(
              type='button', 
              id='filterDropdown', 
              data-bs-toggle='dropdown', 
              aria-expanded='false'
            ) Filter

            // Dropdown menu content
            .dropdown-menu.p-4.text-left(style='min-width: 30rem;' aria-labelledby='filterDropdown')
              // Form
              form(id='filterForm' action=('/attendee-inventory' + '?')  method='GET' onsubmit="reload()")
                .row

                  // Categories column
                  .col
                    h5 Categories
                    ul.checkbox-list
                      each categoryOption in categoryOptions
                        li
                          // Keep filter selected on reload
                          - var active = categories.includes(categoryOption);
                          input(type='checkbox', name='categories', value=categoryOption, id=categoryOption checked = active ? '' : null)
 
                          label(for=categoryOption) #{categoryOption}

                  // Statuses column
                  .col
                    h5 Statuses
                    ul.checkbox-list
                      each statusOption in statusOptions
                        li
                          // Keep filter selected on reload
                          - var active = statuses.includes(statusOption);
                          input(type='checkbox', name='statuses', value=statusOption, id=statusOption checked = active ? '' : null)

                          label(for=statusOption) #{statusOption}
                // Save Changes button
                button.btn.btn-success(type='submit') Save Changes 

        .row
          form#selectedRows
            table.table
              thead
                tr
                  each col in columns
                    th(scope="col") #{col}
              tbody
                block rowData
                  each row in data.data
                    tr
                      td #{row.name}
                      td #{row.tag}
                      td #{row.category}
                      td
                        if row.status=="checked-in"
                          span.badge.bg-success.rounded-pill ✓
                        else if row.status=="checked-out"
                          span.badge.bg-danger.rounded-pill ✕
                        else
                          span.badge.bg-secondary.rounded-pill ✕
        .row
          //+pagination(currentPage, data.length, limit, '/attendee-inventory')
          //.d-flex.justify-content-end
            | Showing #{data.length} of #{data.length} results
      
      block contentBelowTable
    //
      .row.mt-4
        .col
          .card
            .card-body
              h4 Check Out Items
              p Selected Items: PC-1
              .input-group.mb-3
                input.form-control#user(type="text", placeholder="User", aria-label="User")
                //- if "$('#user').val())" != ""
                  //- button.btn.btn-primary(type="button" onclick="checkout($('#user').val())") Check Out All Selected Items
                //- else
                  //- button.btn.btn-primary(type="button" onclick="checkout($('#user').val())" disabled) Check Out All Selected Items
                button.btn.btn-success(type="button") Check Out All Selected Items
        .col
          .row
            .card
              .card-body
                .row
                  ul(style="list-style-type:none;")
                    li Koen requested to check out PC-1 - 5:45PM 10/5/2013 
                      button.btn.btn-success.mr-2 Accept
                      button.btn.btn-danger Deny
          .row 
            a.btn.btn-link(href="#") View all Rental Requests
    script.
      function reload() {
        var url = window.location.href;
        console.log("here", url);
        var search = $('#search').val();
        console.log(search);

        var limit = $('#dropdownMenuButton').val();

        var baseUrl = '#{baseUrl}';
      

      }
    block scripts



