doctype html 

html 
  head
    include ../includes/globalScripts.pug

    style.
      .dropdown-menu {
        display: none; /* Hidden by default */
        position: absolute; /* Positioning outside the flow of the document */
        width: 500px; /* Arbitrary width, can be adjusted */
        left: 50%; /* Center the dropdown */
        /* transform: translateX(-50%); /* Center the dropdown */
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Optional: for better styling */
      }
      .dropdown-menu.show {
        display: block; /* Show when the class 'show' is added */
      }
      .dropdown-menu .column {
        width: calc(50% - 0.5rem); /* Divide the width, considering a margin */
        float: left; /* Float to allow side-by-side alignment */
        margin-right: 0.5rem; /* Spacing between columns */
      }
      .checkbox-list {
        list-style-type: none;
        padding: 0;
      }
      /* Clearfix to handle the issue with floating elements */
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

  body 
    block navbar 
      include ../includes/navbar.pug
      // Define a mixin for the pagination controls
      mixin pagination(currentPage, totalItems, limit, baseUrl)
        - var totalPages = Math.ceil(totalItems / limit);

        // Bootstrap-styled pagination
        .d-flex.justify-content-between.align-items-center.my-3
          // Dropdown for rows per page
          form(id='pageSizeForm' onsubmit="buildQuery()")
            input#pageSizeInput(type='hidden', name='pageSize', value=limit)
            .dropdown
              button.btn.btn-outline-primary.dropdown-toggle(type='button', id='dropdownMenuButton', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false' value=limit)
                | #{limit} per page
              ul.dropdown-menu(aria-labelledby='dropdownMenuButton')
                // These are the options for number of items per page. You can adjust them.
                li
                  button.dropdown-item(onclick="submitPageSizeForm(10)") 10
                li 
                  button.dropdown-item(onclick="submitPageSizeForm(20)") 20
                li 
                  button.dropdown-item(onclick="submitPageSizeForm(30)") 30
                li 
                  button.dropdown-item(onclick="submitPageSizeForm(50)") 50

          // Pagination controls
          form(id='paginationForm' onsubmit="buildQuery()")
            input#paginationInput(type='hidden', name='page', value=currentPage)
            nav(aria-label='Page navigation example')
              ul.pagination.mb-0
                // "Previous" page link
                li.page-item(class=(currentPage == 1 ? "disabled" : ""))
                  button.page-link(onclick=`submitPageNumber(${currentPage == 1 ? 0 : currentPage - 1})`, aria-label='Previous')
                    span.sr-only Previous

                // Individual page numbers
                - for (var i = 1; i <= totalPages; i++)
                  li.page-item(class=(i == currentPage ? "active" : ""))
                    button.page-link(onclick=`submitPageNumber(${i})`)= i

                // "Next" page link
                li.page-item(class=(currentPage == totalPages ? "disabled" : ""))
                  button.page-link(onclick=`submitPageNumber(${currentPage == totalPages ? 0 : ++currentPage})`, aria-label='Next')
                    span.sr-only Next

    .container.mt-5
      block pageName
        h2 Hardware Inventory

      block contentAboveTable
      
      block table
        .row.input-group.mb-3.mt-3

          // Search Bar
          .col-sm-2
            form(id="searchForm" onsubmit="buildQuery()")
              input.form-control#search(type="text", placeholder="...Search", aria-label="Search" name="search" value=`${search}`)

          // Filter by multiple Categories and Statuses
          .col-sm-2
            // Button to toggle the dropdown
            // Dropdown toggle button
            button.btn.btn-primary.dropdown-toggle(
              type='button', 
              id='filterDropdown', 
              data-bs-toggle='dropdown', 
              aria-expanded='false'
            ) Filter

            // Dropdown menu content
            .dropdown-menu.p-4.text-left(style='min-width: 30rem;' aria-labelledby='filterDropdown')
              // Form
              form#filterForm(onsubmit="buildQuery()")
                .row

                  // Categories column
                  .col
                    h5 Categories
                    ul.checkbox-list(style='max-height: 20rem; overflow-y: auto;')
                      each categoryOption in categoryOptions
                        li
                          // Keep filter selected on reload
                          - var active = categories.includes(categoryOption);
                          input(type='checkbox', name='categories', value=categoryOption, id=categoryOption checked = active ? '' : null)

                          label(for=categoryOption) #{categoryOption}

                  // Statuses column
                  .col
                    h5 Statuses
                    ul.checkbox-list(style='max-height: 20rem; overflow-y: auto;')
                      each statusOption in statusOptions
                        li
                          // Keep filter selected on reload
                          - var active = statuses.includes(statusOption);
                          input(type='checkbox', name='statuses', value=statusOption, id=statusOption checked = active ? '' : null)

                          label(for=statusOption) #{statusOption}
                // Save Changes button
                button.btn.btn-success(type='submit') Save Changes 

        .row
          form#selectedRows
            table.table
              thead
                tr
                  each col in columns
                    th(scope="col") #{col}
              tbody
                block rowData
                  each row in data.data
                    tr
                      td #{row.name}
                      td #{row.tag}
                      td #{row.category}
                      td
                        if row.status=="checked-in"
                          span.badge.bg-success.rounded-pill ✓
                        else if row.status=="checked-out"
                          span.badge.bg-danger.rounded-pill ✕
                        else
                          span.badge.bg-secondary.rounded-pill ✕
        .row
          +pagination(currentPage, data.length, limit, '/attendee-inventory')
          .d-flex.justify-content-end
            | Showing #{data.length} of #{data.length} results
      
      block contentBelowTable
    //
      .row.mt-4
        .col
          .card
            .card-body
              h4 Check Out Items
              p Selected Items: PC-1
              .input-group.mb-3
                input.form-control#user(type="text", placeholder="User", aria-label="User")
                //- if "$('#user').val())" != ""
                  //- button.btn.btn-primary(type="button" onclick="checkout($('#user').val())") Check Out All Selected Items
                //- else
                  //- button.btn.btn-primary(type="button" onclick="checkout($('#user').val())" disabled) Check Out All Selected Items
                button.btn.btn-success(type="button") Check Out All Selected Items
        .col
          .row
            .card
              .card-body
                .row
                  ul(style="list-style-type:none;")
                    li Koen requested to check out PC-1 - 5:45PM 10/5/2013 
                      button.btn.btn-success.mr-2 Accept
                      button.btn.btn-danger Deny
          .row 
            a.btn.btn-link(href="#") View all Rental Requests
    script.
      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('filterForm').addEventListener('submit', function(e) {
          e.preventDefault();
        });
      });

      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('searchForm').addEventListener('submit', function(e) {
          e.preventDefault();
        });
      });

      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('pageSizeForm').addEventListener('submit', function(e) {
          e.preventDefault();
        });
      });

      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('paginationForm').addEventListener('submit', function(e) {
          e.preventDefault();
        });
      });

      function submitPageSizeForm(size) {
        document.getElementById('pageSizeInput').value = size;
        buildQuery();
        //- document.getElementById('pageSizeForm').submit();
      }

      function submitPageNumber(page) {
        document.getElementById('paginationInput').value = page;
        buildQuery();
        //- document.getElementById('paginationForm').submit();
      }

      function buildQuery() {
        console.log(window.location);
        
        var search = document.getElementById('search').value;
        var pageSize = document.getElementById('pageSizeInput').value;
        var pageNumber = document.getElementById('paginationInput').value;
        var categories = []
        $('#filterForm input[type="checkbox"][name="categories"]:checked').each(function() {
          categories.push($(this).val());
        });
        var statuses = []
        $('#filterForm input[type="checkbox"][name="statuses"]:checked').each(function() {
          statuses.push($(this).val());
        });

        var query = '?';
        if (search) {
          query += 'search=' + search + '&';
        }
        if (pageSize) {
          query += 'limit=' + pageSize + '&';
        }
        if (pageNumber) {
          query += 'page=' + pageNumber + '&';
        }
        if (categories.length > 0) {
          categories.forEach(function(category) {
            query += 'categories=' + category + '&';
          });
        }
        if (statuses.length > 0) {
          statuses.forEach(function(status) {
            query += 'statuses=' + status + '&';
          });
        }

        window.location.href = window.location.href.split('?')[0] + query.slice(0, -1);
      }
    block scripts



