extends layouts/layout.pug

block content
  .container.mt-5
    .row
      .col-lg-6
        h2 Hardware Details
      .col
        .d-flex.justify-content-end
          button.btn.btn-link(onclick="backToInventory()") Back to Inventory

    .row.mb-4
      .col-md-6
        .card.p-3(style="height: 300px;")
          h5 Name: #{name}
          p.mb-1 Tag: #{tag}
          p.mb-1 Category: #{category}
          
          p.mb-1 Available: 
            // Needs fixed
            if status==null
              span.badge.bg-success.rounded-pill ✓
            else if status=="checked out"
              span.badge.bg-danger.rounded-pill ✕
            else
              span.badge.bg-secondary.rounded-pill ✕
          p.mb-1 User: 
            if user
              | #{user}
            else
              | N/A
          p.mb-1 Date: 
            if last_updated
              | #{last_updated}
            else
              | N/A
        .input-group.align-bottom
          form(onsubmit=`checkout($('#user').val())`)
            row
              input#user.form-control(type="text", placeholder="User", aria-label="User" required)
              button.btn.btn-primary(type="submit" )
                // Needs fixed
                if status==null 
                  | Checkout
                else if status=="checked out"
                  | Checkin
                else
                // Disable button
        
      .col-md-6
        .card.p-3.overflow-auto(style="height: 300px;")
          h5 Rental Record
          ul.list-group.list-group-flush
            for record in history 
              li.list-group-item
                | User #{record.user_id} #{record.status} at #{record.last_updated}
            
block javaScript
  script.
    function checkout(user){
      console.log(user)

      let status = "#{status}"
      if (status == "checked out"){
        action = "checked_in"
      } else {
        action = "checked out"
      }

      fetch('/rental_validation', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          user_id: user,
          hardware_id: "#{id}",
          status: action
        })
      }).finally(function(){
        alert("" + user + " " + action + " " + "#{name}");
        window.location.reload();
      })

      
    }

    function backToInventory(){
      window.location.href = "/inventory";
    }