extends layouts/layout.pug

block content
  .container.mt-5
    .row
      .col-lg-6
        h2 Hardware Details
      .col
        .d-flex.justify-content-end
          a.btn.btn-link(href="/inventory") Back to Inventory

    .row.mb-4
      .col-md-6
        .card.p-3(style="height: 300px;")
          h5 Name: #{name}
          p.mb-1 Tag: #{tag}
          p.mb-1 Category: #{category}
          //
            p.mb-1 Available: 
              if status=="Available"
                span.badge.bg-success.rounded-pill ✓
              else if status=="Rented"
                span.badge.bg-danger.rounded-pill ✕
              else
                span.badge.bg-secondary.rounded-pill ✕
            p.mb-1 User: 
              if renter_id
                #{renter_id}
              else
                | N/A
            p.mb-1 Date: 
              if time
                #{time}
              else
                | N/A
        .input-group.align-bottom
          form(onsubmit=`checkout($('#user').val())`)
            input#user.form-control(type="text", placeholder="User", aria-label="User" required)
            button.btn.btn-primary(type="button") Checkout
        
      .col-md-6
        .card.p-3.overflow-auto(style="height: 300px;")
          h5 Rental Record
          ul.list-group.list-group-flush
            li.list-group-item Koen checked item out 10:43am 10/9/2023
            li.list-group-item Koen checked item in 10:45am 10/9/2023
            li.list-group-item Trey checked item out 11:36am 10/9/2023
            li.list-group-item Trey checked item in 12:13pm 10/9/2023
            li.list-group-item Trey checked item in 12:13pm 10/9/2023
            li.list-group-item Trey checked item in 12:13pm 10/9/2023
            li.list-group-item Trey checked item in 12:13pm 10/9/2023
            li.list-group-item Trey checked item in 12:13pm 10/9/2023
            
block javaScript
  script.
    function checkout(user){
      console.log(user)

      alert("" + user + " checked out " + "#{name}");
    }