extends layouts/inventory-layout.pug 

block rowData
  form#selectedRows
    each row in data.data
      tr
        td 
          .dropdown
            button.btn.btn-sm(role="button", data-bs-toggle="dropdown", aria-expanded="false", id="dropdownMenu")
              img(src="/public/icons/list.svg" alt="list-icon" width="20" height="20")
              
            ul.dropdown-menu(aria-labelledby="dropdownMenu")
              li
                a.dropdown-item(href=`/hardware/${row.id}`) View Hardware
        td 
          input(type='checkbox', name='hardware', value=row.id, id=row.id onchange="updateCheckedItems()")
          label(for=row.id) #{row.name}  
        td(id=`tag-${row.id}`) #{row.tag}
        td(id=`category-${row.category}`) #{row.category}
        td(id=`status-${row.id}` value=row.status)
          if row.status=="checked-in"
            span.badge.bg-success.rounded-pill(data-toggle="tooltip" data-placement="top" title="Checked-In") ✓
          else if row.status=="checked out"
            span.badge.bg-danger.rounded-pill(data-toggle="tooltip" data-placement="top" title="Checked-Out") ✕
          else
            span.badge.bg-secondary.rounded-pill(data-toggle="tooltip" data-placement="top" title=row.status) ✕
        td(id=`attendee-${row.user_id}`)
          if row.user_id != null
            | #{row.user_id}
          else
            | N/A
        td(id=`date-${row.last_updated}`)
          if row.last_updated != null
            | #{row.last_updated}
          else
            | N/A

block contentBelowTable
  .row.mt-4
    .col
      .card
        .card-body
          h4 Check In/Out Items
          p Selected Items: 
          p#items None selected.
          .input-group.mb-3
            input.form-control#user(type="text", placeholder="User", aria-label="User" required)
            button.btn.btn-success(type="button" onclick=`checkout($('#user').val())`) Check Out All Selected Items
  //  
    .col
      .row
        .card
          .card-body
            .row
              ul(style="list-style-type:none;")
                li Koen requested to check out PC-1 - 5:45PM 10/5/2013 
                  button.btn.btn-success.mr-2 Accept
                  button.btn.btn-danger Deny
      .row 
        a.btn.btn-link(href="#") View all Rental Requests

block scripts 
  script.
    function checkout(user){
      console.log(user)
      let status

      let selectedItems = [];
      let selectedIds = [];
      let invalid;
      $('input[name="hardware"][type="checkbox"]:checked').each(function(index) {
        let input = $(this);
        let id = input.attr('id');

        if(index == 0){
          status = $(`#status-${id}`).attr("value");
        } else if (status != $(`#status-${id}`).attr("value")){
          alert("You can only check out items with the same status.");
          invalid = true;
          return;
        }
        selectedIds.push(id);

        
        let label = $(this).next('label');
        if (label) {
          selectedItems.push(label.text());
        }
      });
      if(invalid){
        return;
      }

      if (selectedItems.length == 0) {
        alert("You must select at least one item to check out.");
        return;
      }

      let action;
      if(status == "checked-in"){
        action = "checked out"
      } else {
        action = "checked_in"
      }

      const results = Promise.allSettled(selectedIds.map(async (item) => {
        console.log(item);
        return await fetch('/rental_validation', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json;charset=utf-8'
          },
          body: JSON.stringify({
            user_id: user,
            hardware_id: Number(item),
            status: action
          })
        });
      })).then(() => {
        alert("Success");
      }).catch((error) => {
        console.error('Error:', error);
        alert("There was an error checking out items.");
      }).finally(() => {
        window.location.reload();
      });
    }

    function updateCheckedItems() {
      let selectedItems = [];
      let form = document.getElementById('selectedRows');

      $('input[name="hardware"][type="checkbox"]:checked').each(function() {
        let input = $(this);
        console.log(input.attr('id'));
        let label = $(this).next('label');
        if (label) {
            selectedItems.push(label.text());
        }

        console.log(label);
      });

      if (selectedItems.length > 0) {
          $('#items').text(selectedItems.join(', '));
      } else {
          $('#items').text('None selected.');
      }
    }